{% extends "base.html" %}

{% block app_content %}
        <div class="jumbotron">
            <form action="{{ url_for('book') }}" method="post">
                <p>
                    {{ form.pickup_address.label }}
                    {{ form.pickup_address }}
                </p>
                <p>
                    {{ form.pickup_time.label }}
                    {{ form.pickup_time(type='time') }}
                </p>
                <p>
                    {{ form.submit () }}
                </p>
            </form>
        </div>
{% endblock %}